/* .dashboard-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .dashboard-list li {
    position: relative;
    padding: 8px 16px;
  }
  
  .dashboard-list li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
    z-index: -1;
    border-radius: 4px;
  }
   */

   /* .dashboard-list {
    list-style-type: none;
    padding-left: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.8) 100%);
    border-radius: 4px;
  }
  
  .dashboard-list li {
    position: relative;
    padding: 8px 16px;
  } */
  
  * {
    font-family: 'Poppins', sans-serif;
  }

  .dashboard-list {
    list-style-type: none;
    padding-left: 0;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .dashboard-list li {
    position: relative;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #ccc;
  }
  

  
  .dashboard-list li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #000, #eee); 
    z-index: -1;
    border-radius: 4px;
  }
  
  .dashboard-list li span {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #000); 
  }
  
  
  